# Airbnb Data -Seattle (2019)

In [9]:
# importing dependencies
import pandas as pd
import numpy as np
import os

In [2]:
# locating each csv file
path1 = "Resources/listings_feb.csv"
path2 = "Resources/listings_mar.csv"
path3 = "Resources/listings_april.csv"
path4 = "Resources/listings_may.csv"
path5 = "Resources/listings_june.csv"
path6 = "Resources/listings_july.csv"
path7 = "Resources/listings_aug.csv"
path8 = "Resources/listings_sept.csv"

In [3]:
# reading csv and providing dataframe name
listing_df1 = pd.read_csv(path1)
listing_df2 = pd.read_csv(path2)
listing_df3 = pd.read_csv(path3)
listing_df4 = pd.read_csv(path4)
listing_df5 = pd.read_csv(path5)
listing_df6 = pd.read_csv(path6)
listing_df7 = pd.read_csv(path7)
listing_df8 = pd.read_csv(path8)

In [4]:
# Dropping unnecessary columns from each csv

L1 = listing_df1.drop(['host_name', 'host_id', 'latitude', 'longitude', 'last_review', 'availability_365'], axis = 1)
L2 = listing_df2.drop(['host_name', 'host_id', 'latitude', 'longitude', 'last_review', 'availability_365'], axis = 1)
L3 = listing_df3.drop(['host_name', 'host_id', 'latitude', 'longitude', 'last_review', 'availability_365'], axis = 1)
L4 = listing_df4.drop(['host_name', 'host_id', 'latitude', 'longitude', 'last_review', 'availability_365'], axis = 1)
L5 = listing_df5.drop(['host_name', 'host_id', 'latitude', 'longitude', 'last_review', 'availability_365'], axis = 1)
L6 = listing_df6.drop(['host_name', 'host_id', 'latitude', 'longitude', 'last_review', 'availability_365'], axis = 1)
L7 = listing_df7.drop(['host_name', 'host_id', 'latitude', 'longitude', 'last_review', 'availability_365'], axis = 1)
L8 = listing_df8.drop(['host_name', 'host_id', 'latitude', 'longitude', 'last_review', 'availability_365'], axis = 1)
L8.columns

Index(['id', 'name', 'neighbourhood_group', 'neighbourhood', 'room_type',
       'price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count'],
      dtype='object')

In [5]:
# Renaming columns for easier join later

L1.rename(columns= {'price':'p1','minimum_nights':'min_nights1', 'number_of_reviews':'reviews_no.1', 
                    'reviews_per_month':'reviews_month1','calculated_host_listings_count':'listings_count1'},inplace = True)
L2.rename(columns= {'price':'p2','minimum_nights':'min_nights2', 'number_of_reviews':'reviews_no.2', 
                    'reviews_per_month':'reviews_month2','calculated_host_listings_count':'listings_count2'},inplace = True)
L3.rename(columns= {'price':'p3','minimum_nights':'min_nights3', 'number_of_reviews':'reviews_no.3', 
                    'reviews_per_month':'reviews_month3','calculated_host_listings_count':'listings_count3'},inplace = True)
L4.rename(columns= {'price':'p4','minimum_nights':'min_nights4', 'number_of_reviews':'reviews_no.4', 
                    'reviews_per_month':'reviews_month4','calculated_host_listings_count':'listings_count4'},inplace = True)
L5.rename(columns= {'price':'p5','minimum_nights':'min_nights5', 'number_of_reviews':'reviews_no.5', 
                    'reviews_per_month':'reviews_month5','calculated_host_listings_count':'listings_count5'},inplace = True)
L6.rename(columns= {'price':'p6','minimum_nights':'min_nights6', 'number_of_reviews':'reviews_no.6', 
                    'reviews_per_month':'reviews_month6','calculated_host_listings_count':'listings_count6'},inplace = True)
L7.rename(columns= {'price':'p7','minimum_nights':'min_nights7', 'number_of_reviews':'reviews_no.7', 
                    'reviews_per_month':'reviews_month7','calculated_host_listings_count':'listings_count7'},inplace = True)
L8.rename(columns= {'price':'p8','minimum_nights':'min_nights8', 'number_of_reviews':'reviews_no.8', 
                    'reviews_per_month':'reviews_month8','calculated_host_listings_count':'listings_count8'},inplace = True)

In [6]:
# joining csv file sequentially and dropping repetitive columns

Join1 = L1.set_index('id').join(L2.set_index('id'), rsuffix='_right')
df1 = Join1.drop(['name_right', 'neighbourhood_group_right', 'neighbourhood_right','room_type_right',], axis = 1)
Join2 = df1.join(L3.set_index('id'), rsuffix='_right')
df2 = Join2.drop(['name_right', 'neighbourhood_group_right', 'neighbourhood_right','room_type_right',], axis = 1)
Join3 = df2.join(L4.set_index('id'), rsuffix='_right')
df3 = Join3.drop(['name_right', 'neighbourhood_group_right', 'neighbourhood_right','room_type_right',], axis = 1)
Join4 = df3.join(L5.set_index('id'), rsuffix='_right')
df4 = Join4.drop(['name_right', 'neighbourhood_group_right', 'neighbourhood_right','room_type_right',], axis = 1)
Join5 = df4.join(L6.set_index('id'), rsuffix='_right')
df5 = Join5.drop(['name_right', 'neighbourhood_group_right', 'neighbourhood_right','room_type_right',], axis = 1)
Join6 = df5.join(L7.set_index('id'), rsuffix='_right')
df6 = Join6.drop(['name_right', 'neighbourhood_group_right', 'neighbourhood_right','room_type_right',], axis = 1)
Join7 = df6.join(L8.set_index('id'), rsuffix='_right')
df7 = Join7.drop(['name_right', 'neighbourhood_group_right', 'neighbourhood_right','room_type_right',], axis = 1)
df7.columns

Index(['name', 'neighbourhood_group', 'neighbourhood', 'room_type', 'p1',
       'min_nights1', 'reviews_no.1', 'reviews_month1', 'listings_count1',
       'p2', 'min_nights2', 'reviews_no.2', 'reviews_month2',
       'listings_count2', 'p3', 'min_nights3', 'reviews_no.3',
       'reviews_month3', 'listings_count3', 'p4', 'min_nights4',
       'reviews_no.4', 'reviews_month4', 'listings_count4', 'p5',
       'min_nights5', 'reviews_no.5', 'reviews_month5', 'listings_count5',
       'p6', 'min_nights6', 'reviews_no.6', 'reviews_month6',
       'listings_count6', 'p7', 'min_nights7', 'reviews_no.7',
       'reviews_month7', 'listings_count7', 'p8', 'min_nights8',
       'reviews_no.8', 'reviews_month8', 'listings_count8'],
      dtype='object')

In [7]:
# Rearranging columns
datafile = df7[['name', 'neighbourhood_group', 'neighbourhood', 'room_type','p1','p2','p3', 'p4','p5','p6','p7','p8',
               'min_nights1', 'min_nights2', 'min_nights3', 'min_nights4', 'min_nights5', 'min_nights6', 'min_nights7',
               'min_nights8','reviews_no.1','reviews_no.2','reviews_no.3','reviews_no.4','reviews_no.5','reviews_no.6',
               'reviews_no.7','reviews_no.8','reviews_month1', 'reviews_month2', 'reviews_month3', 'reviews_month4', 
               'reviews_month5', 'reviews_month6', 'reviews_month7', 'reviews_month8','listings_count1','listings_count2',
               'listings_count3','listings_count4','listings_count5','listings_count6','listings_count7','listings_count8'
               ]].copy()

In [11]:
# Saved cleaned dataframe in the Resources-foler with name Airbnb.csv
datapath = "Resources"
datafile.to_csv(os.path.join(datapath,r'Airbnb.csv'))