# Seattle airbnb data 2019

### Getting and joining data from inside airbnb

In [5]:
import pandas as pd
import numpy as np

In [21]:
path1 = "Resources/listings_sept.csv"
path2 = "Resources/listings_aug.csv"
path3 = "Resources/listings_july.csv"
path4 = "Resources/listings_june.csv"
path5 = "Resources/listings_may.csv"
path6 = "Resources/listings_april.csv"
path7 = "Resources/listings_mar.csv"
path8 = "Resources/listings_feb.csv"

In [29]:
listing_df1 = pd.read_csv(path1)
listing_df2 = pd.read_csv(path2)
listing_df3 = pd.read_csv(path3)
listing_df4 = pd.read_csv(path4)
listing_df5 = pd.read_csv(path5)
listing_df6 = pd.read_csv(path6)
listing_df7 = pd.read_csv(path7)
listing_df8 = pd.read_csv(path8)
listing_df8.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2318,Casa Madrona -Urban Oasis! *Discount all of Feb*!,2536,Megan,Central Area,Madrona,47.610819,-122.290816,Entire home/apt,296,7,21,2018-11-24,0.17,1,343
1,4291,Sunrise in Seattle Master Suite,35749,Jess & Joey,Other neighborhoods,Roosevelt,47.687801,-122.313427,Private room,82,2,63,2018-10-06,0.92,5,365
2,5682,"Cozy Studio, min. to downtown -WiFi",8993,Maddy,Delridge,South Delridge,47.523980,-122.359891,Entire home/apt,48,3,462,2018-11-24,4.27,1,0
3,6606,"Fab, private seattle urban cottage!",14942,Joyce,Other neighborhoods,Wallingford,47.654109,-122.337605,Entire home/apt,90,2,134,2018-10-21,1.15,3,364
4,9419,Glorious sun room w/ memory foambed,30559,Angielena,Other neighborhoods,Georgetown,47.550620,-122.320135,Private room,65,2,131,2019-01-17,1.26,7,344